.about {
  width: 80%;
  height: 100%;

  margin: auto;
}

.about__body {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.about__Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__Left > h1 {
  font-size: 68px;
  color: snow;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.about__Left > h3 {
  font-size: 20px;
  color: snow;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.about__Left > h2 {
  font-size: 40px;
  font-weight: 900;
  color: snow;
  font-family: "Montserrat", sans-serif;
}

.about__Right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__Right > img {
  height: 500px;
  width: 500px;
}

.about__Intro {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10%;
}

.about__IntroLeft > img {
  height: 500px;
  width: 600px;
}

.about__IntroRight {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 3px gray;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 6px 8px rgb(190, 105, 105);
  border-radius: 40px;
}

.about__IntroRight > h1 {
  font-size: 50px;
  color: black;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.about__IntroRight > h3 {
  font-size: medium;
  color: black;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
