.project {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.project > h1 {
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: 59px;
  font-family: "Raleway", sans-serif;
  color: floralwhite;
}

.project__Cards {
  width: 90%;
  margin: 10px auto;
  column-gap: 25px;
  row-gap: 25px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
